body{
    background-image: url(/photo/fon.jpg);
}
.wrapper {
    max-width: 1440px;
    background:black;
    margin: 0  auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}


.menu{
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.menu a{
    text-align: center;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10%;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;


}
.menu a:hover{
    background-color: black;
    color: white;

}
/*не работает*/
.menu a :active{
    transform:  translate3d(20px,20px,20px);
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;

       
}

.textAboutMe{
    display: flex;
    flex-direction: column;
    font-size:20px;
    font-family:'Courier New', Courier, monospace;
    margin:5%;
    color: white;
}

.photo{
    border-radius: 60%;
    margin: 5%;
    animation: gridi 6s ease  infinite;
    background: linear-gradient(270deg, #12ecda, #9412ec, #12ec7a);
    background-size: 600% 600%;
    height: fit-content;
}

@keyframes gridi{
    0%{
        background-position:0% 50%

    }
    50%{
        background-position:100% 50%
    }
    100%{
        background-position:20% 50%
    }
}

.photo img{
    max-width: 400px;
}

.codeAbout { 
    max-width: 400px; 
    margin: 5%; 
    gap:10px ;
    padding: 10px;
    border-radius: 20px;
    white-space: pre-wrap;
    color:white;
    font-family: monospace;
    font-size: 24px; 
    border: 1px solid white;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:5% ;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.skills th{
    font-size: 24px;
    text-align: left;
    color: white;
}

.skills td{
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 70%;
    padding: 10px;
    
}

.skills td:hover{
    background-color: rgb(3, 2, 61);
    transform: scale(1.5);
    
}

.soft table{
    border-spacing: 20px;
}

.hard table{
    border-spacing: 20px;
}


.project{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 2%;
}

.project img{
    height: 400px;
    width: 400px;
    border-radius: 70%;
}

#python img{
    animation-name: pythonsh;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pythonsh {
    0%{
        box-shadow: 10px 5px 5px rgb(133, 1, 122);
    }
    33%{
        box-shadow: 10px 5px 5px rgb(177, 1, 74);
    }
    66%{
        box-shadow: 10px 5px 5px rgb(1, 177, 95);
    }
    100%{
        box-shadow: 10px 5px 5px rgb(1, 142, 177);
    }

}


#java img{
    animation-name:javash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes javash {
    0%{
        box-shadow: 10px 5px 5px rgb(1, 142, 177);
    }
    33%{
        box-shadow: 10px 5px 5px rgb(133, 1, 122);
    }
    66%{
        box-shadow: 10px 5px 5px rgb(177, 1, 74);
    }
    100%{
        box-shadow: 10px 5px 5px rgb(1, 177, 95);
    }

}


#csharp img{
    animation-name:csharpsh;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes csharpsh {
    0%{
        box-shadow: 10px 5px 5px rgb(1, 177, 95);
    }
    33%{
        box-shadow: 10px 5px 5px rgb(1, 142, 177);
    }
    66%{
        box-shadow: 10px 5px 5px rgb(133, 1, 122);
    }
    100%{
        box-shadow: 10px 5px 5px rgb(177, 1, 74);
    }

    
}


#web img{
    animation-name: websh;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes websh {
    0%{
        box-shadow: 10px 5px 5px rgb(177, 1, 74);
    }
    33%{
        box-shadow: 10px 5px 5px rgb(1, 177, 95);
    }
    66%{
        box-shadow: 10px 5px 5px rgb(1, 142, 177);
    }
    100%{
        box-shadow: 10px 5px 5px rgb(133, 1, 122);
    }

    
}



hr {             
    background-color:white;
    height: 2px;
    margin-left: 2%;
    margin-right: 2%;
  }

.footer{
    margin-top: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    

}

.footer img{
    width: 150px;
    height: 150px;
}

.footer h1{
    color: black;
    font-size: 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-weight: bold;
    
}

.info p{
    text-align: center;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 400px;
    flex-wrap: wrap;
}